.kunstler{
  display: grid;
  grid-template-columns: repeat (5, 1fr);
  
}

div.img {
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    max-height:120rem;
    width: 15rem;
}
div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 13rem;
    margin: 15px;
    height: 20rem;
}

div.txt {
    padding: 15px;
    height: 3rem;
    width: 14rem;
}

.flexbox {
    display: grid;
    left: 0rem;
    margin-top: 2rem;
    max-width: 14rem;
}
}
.MM {
 grid-column: 1 / 2;
}
.MK {
 grid-column: 2 / 3;
}
.DA {
 grid-column: 3 / 4;
}
.SM {
 grid-column: 4 / 5;
}
.RD {
 grid-column: 5 / 6;
}