div.img {
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 300px;
}
div.img:hover {
    border: 1px solid #777;
}

div.img img {
    float: left;
    max-width: 180px;
    margin: 10px;
    height: 250px;
}

div.txt {
    padding: 15px;
    position: relative;
    height: 330px;
    width: auto;
    
}

.flexbox {
    position: absolute;
    display: flex;
    border: px solid #333;
    left: 280px;
    margin-left: 190px;
    margin-right: 45px;
    width: 57%;
    margin-top: 72px;
}