div.img {
    margin: 5px;
    border: 2px solid #ccc;
    position: relative;
    top: -350px;
    left: 370px;
    float: left;
    width: 225px;
    height: auto;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.txt {
    padding: 15px;
    text-align: center;
    position: relative;
    text-align: bottom;
}

div.mk {
    padding: 15px;
    text-align: center;
    position: relative;
    bottom: -188px;
    
}

div.rd {
    padding: 15px;
    text-align: center;
    position: relative;
    bottom: -113px;
    
}

.flexbox {
    display: flex;
    border: 0px solid #333;
}