<style>
div.img {
    margin: 5px;
    border: 2px solid #ccc;
    position: relative;
    top: -360px;
    left: 365px;
    float: left;
    width: 225px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>

<div class="img">
  <a target="_blank" href="/images/buch_mit_feder.jpg">
    <img src="/images/marco_michalzik.jpg" alt="Marco Michalzik" width="400" height="600">
  </a>
</div>
