body 
{
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 19px;
    margin: auto;
}
/* unbesuchte Links */
a:link {
    color: black;
}

/* besuchte Links */
a:visited {
    color: black;
}

/* Link unter dem Mauszeiger */
a:hover {
    color: grey;
}

/* ausgewählter Link */
a:active {
    color: blue;
}

/* Unterstriche entfernen*/
a:link {
    text-decoration: none;
}

iframe 
{
    font-size: 19em;
    height: 1.15em;
    width: 0.75em;
    border: 2px solid;
    display: grid;
    margin-top: 1.25rem; 
    margin-left: 0.21em;
}

/* unbesuchte Links */
a:link {
    color: black;
}

/* besuchte Links */
a:visited {
    color: black;
}

/* Link unter dem Mauszeiger */
a:hover {
    color: grey;
}

/* ausgewählter Link */
a:active {
    color: blue;
}

/* Unterstriche entfernen*/
a:link {
    text-decoration: none;
}