* {  
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin:0.1rem;	
}
body
 {
  background:none repeat scroll 0 0 #eeeeee;
  font-size:16px;
  font-family:"Open Sans",Arial,sans-serif;
  color:#444;
}
.container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.Ueberschrift {
 grid-column: 1 / 4;
}
.nav {
 grid-column: 1 / 1;
}
.text {
 grid-column: 2 / 3;
 margin-top: -26.2rem;
}
.flexbox {
 grid-column: 2 / 4;
 float: left;
}
.texte {
grid-column: 3/4;
float: right;
}
h1,h2,h3,h4,h5,h6 {
  text-align: center;
  color:#152732;
  font-weight: small;
  line-height: 1.2;
  margin:0.4rem 0;  
}
h1 {font-size:2.7rem;
top: 1rem;
left:50rem;
text-align: center;
max-height: 4rem;
}
h2 {font-size:2.2rem;
top: 5rem;
left:54rem;
text-align: center;
max-height: 4rem;
}  
h3 {font-size:1.8rem;}  
h4 {font-size:1.4rem;}  
h5 {font-size:1.1rem;}  
h6 {font-size:0.9rem;}    
a, a:link, a:visited, a:hover, a:active {
  text-decoration:none;
  color:#152732;
  
  transition:color 0.20s linear 0s;
  -o-transition:color 0.20s linear 0s;
  -ms-transition:color 0.20s linear 0s;
  -moz-transition:color 0.20s linear 0s;
  -webkit-transition:color 0.20s linear 0s;
}  
iframe {
  display: block;
  top:10rem;
  left:-1rem;
}
a:hover {color:grey;}
li,dl,blockquote,table,kbd {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 90%;
  text-align:left;
  
}
p{
  top: 11rem;
  left:25rem;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align:left;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
