body {
    display: grid;
    grid-template-columns: auto auto auto;
}

h1 {
    display: grid;
    text-align: center;
    font-size: 3rem;
}
h2 {
    display: grid;
    text-align: center;    
    font-size: 1.5rem;
}

p {
    position: absolute;
    border: 0.15rem solid;
    padding: 0.25rem;
    right: 0rem;
    left: 25rem;
    top: 10rem;
    width: 46rem;
    text-align: start;
    margin-left: 11rem;
    display: grid;
    font-size: 1.7rem
}


